#partenaires{
    width: 900px;
    padding: 40px 0px;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: var(--blackEarth);
    font-family: Belanosima;
    text-align: left;

    h2{
        margin: 20px 0px;
        text-align: center;
        font-family: Pangolin;
        font-size: 32px;
    }

    .important{
        font-size: 24px;
        margin: 6px 0px;
    }

    hr{
        margin: 20px 0px;
        height: 3px;
        border: none;
        color: var(--darkBrick);
        background-color: var(--darkBrick);
    }

    .article1{
        margin: 20px 0px;
        display: flex;
        flex-direction: row;

        article{
            background-color: rgba(186, 62, 37, 0.5);
            width: 450px;
            max-width: 450px;
            padding: 10px 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            border-radius: 10px;

            .important{
                text-align: center;
                font-size: 24px;
                margin: 6px 0px;
            }

            .text{
                font-size: 16px;
                margin: 20px 0px;
            }

            button{
                width: 200px;
                padding: 5px 25px;
                margin: 10px 0px;
                font-family: Pangolin;
                font-size: 20px;
                border: solid var(--blackEarth);
                background-color: var(--breadPasta);
                border-radius: 20px;
                box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
            }

            button:hover{
                color: var(--goldWheat);
                 background-color: var(--darkBrick);
            }
        }

        .boxInfo1{
            margin-right: 20px;
        }

        .boxInfo2{
            margin-left: 20px;
        }

        .responsive {
            width: 450px;
            max-width: 450px;
            height: auto;
            border-radius: 20px;
          }
    }
}

@media only screen and (min-width:320px) and (max-width:940px){
    #partenaires{
        width: 80%;

        .article1{
            display: flex;
            flex-direction: column;
            margin-right: 0px;
            margin-left: 0px;
            padding: 0px 0px;

            .boxInfo1, .boxInfo2{
                width: 100%;
                max-width: 100%;
                margin-top: 10px;
                margin-bottom: 20px;
                margin-right: 0px;
                margin-left: 0px;
            }

            .responsive {
                margin-left: 0px;
                margin-right: 0px;
                margin-top: 20px;
                margin-bottom: 10px;
                width: 100%;
                max-width: 100%;
                height: auto;
            }

        }
    }
}