#cguv{
    width: 900px;
    padding: 40px 30px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-size: var(--width-Text);
    text-align: left;
    background-color: rgba(186, 62, 37, 0.5);
    color: var(--blackEarth);
    border-radius: 10px;

    h3{
        text-align: center;
        font-family: Pangolin;
        font-size: var(--width-Title3);
        margin: 30px 0px;
    }

    p, li{
        text-align: left;
        margin: 10px 0px;
    }

    li{
        text-align: left;
        margin-left: 30px;
    }

    .category{
        font-size: var(--width-TextImportant);
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .subCategory{
        font-size: var(--width-TextImportant2);
        margin: 10px 0px;
    }

}

@media screen and (min-width:300px) and (max-width:920px){
    #cguv{
        width: 80%;
        margin: 20px auto;
    }
}