#mentions{
    width: 900px;
    padding: 40px 0px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    text-align: left;
    background-color: rgba(186, 62, 37, 0.5);
    color: var(--blackEarth);
    border-radius: 10px;

    h3{
        text-align: center;
        font-family: Pangolin;
        font-size: var(--width-Title3);
        margin: 30px 0px;
    }

    p{
        font-size: var(--width-TextImportant2);
        text-align: left;
        padding: 0px 20px;
        margin: 8px 0px;
    }

    .category{
        font-size: var(--width-TextImportant);
        margin-top: 40px;
        margin-bottom: 10px;
    }
}

@media screen and (min-width:300px) and (max-width:920px){
    #mentions{
        width: 95%;
    }
}